**/*.pdf
**/*.tex
**/*.dfa

!thesis/**/*.tex
!thesis/**/*.bib
!thesis/**/*.pdf
!presentation/**/*.tex
!presentation/**/*.bib
!presentation/**/*.pdf

**/*.aux
**/*.log
**/*.out
**/*.gz
**/*.toc
**/*.bbl
**/*.blg
**/*.dvi
**/*.bak
**/*.ps
**/*.idx
**/*.ilg
**/*.ind
**/*.synctex(busy)

**/*.nav
**/*.snm

**/*.ini
**/*.db

**/*.pyc

__pycache__
