[Desktop Entry]
Version=1.0
Type=Link
Name=Zeitdiebe besiegen und mehr Lebenszeit gewinnen
Comment=
Icon=user-bookmarks
URL=https://www.rindlerwahn.de/zeitdiebe-besiegen-und-mehr-lebenszeit-gewinnen/
